<div class ="container">

  <div class="margin-body"></div>

  <% if @bookings.length == 0 %>
    <p class="no-booking">You have not reserved any beach 😟. Visit our catalog and get ready for a dream vacation </p>
    <%= button_to "Discover", "beaches", method: :get, class: "btn-discover text-center" %>
  <% end %>

  <div class="container-beaches mt-5">
    <% @bookings.each do |booking| %>
    <div class="container-booking mt-5 row">
      <div class="beach-card me-5 col-sm">
        <%= link_to beach_path(booking.beach.id) do %>
          <img src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80" alt="beach plage">
          <div class="beach-card-body">
            <%= link_to booking.beach.name, beach_path(booking.beach.id), class: "beach-card-title" %>
            <div class="beach-card-location">
              <%= booking.beach.location %>
            </div>
            <div class="beach-card-rating">
              <i class="fas fa-star"></i><%= sprintf('%.1f', booking.beach.average_rating) %>
            </div>
            <div class="beach-card-price">
              <%= sprintf('%.2f', booking.beach.price)+"€ /day" %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="booking-card col-sm">
        <p><%= link_to "Booking Reference n° #{booking.id}", beach_booking_path(booking.beach, booking) %></p>
        <p>Status: <%= booking.status%></p>
        <p>Start Date : <%= booking.start_date %></p>
        <p>End Date : <%= booking.end_date %></p>
        <%= link_to beach_booking_path(booking.beach, booking), class: "trash-btn", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this Booking ?"} do%>
          <i class="fa-solid fa-trash"></i>
        <% end %>
        <p>Total Price : <%= sprintf('%.2f', booking.total_price)%> €</p>
        <p><%= link_to "add reviews", new_beach_review_path(booking.beach), class: "btn-reserve" %></p>
      </div>
    </div>

    <% end %>
  </div>

</div>
