<h1>New review</h1>
<%= form_with model: @bookings do |f| %>
  <%= f.label :start_date %>
  <%= f.text_field :start_date %>
  <%= f.label :end_date %>
  <%= f.text_field :end_date %>
  <%= f.submit %>
<% end %>
