<div class="container">

  <div class="margin-body"></div>

  <div class="container-booking-show">
    <p>Booking Reference n° <%= @booking.id %></p>
    <p>Status: <%= @booking.status%></p>
    <p>Beach: <%= @booking.beach.name %></p>
    <p>Start Date : <%= @booking.start_date %> /    End Date : <%= @booking.end_date %></p>

    <p>Total Price : <%= sprintf('%.2f', @booking.total_price)+" €" %> </p>

    <% if @booking.beach.user == current_user && @booking.status == "pending" %>
      <%= link_to "Validate this Booking", change_status_path(@booking), class: "btn btn-primary" %>
    <%end %>

    <%= link_to "Delete this Booking", beach_booking_path(@booking), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>

  <%= link_to "Back to Beaches list", beaches_path(@beaches), class:"position-absolute start-50 translate-middle-x btn btn-primary mt-4 mb-4"%>


</div>
