<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top" data-controller="navbar">
  <div class="container-fluid">
    <div>
      <%= link_to beaches_path do %>
        <%= image_tag 'logoair.png', class:"logo" %>
      <% end %>

    </div>

    <div>
      <%= form_with url: beaches_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a beach"
        %>
        <%= submit_tag "Search", class: "btn btn-primary ms-3" %>
      <% end %>
    </div>

    <div>
      <% if user_signed_in? %>
          <button class="toggler" data-action="click->navbar#toggleNav" data-navbar-target="btn" type="button" arial-label="toggle curtain navigation">
            <span class="line l1"></span>
            <span class="line l2"></span>
            <span class="line l3"></span>
          </button>

      <% else %>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="btn btn-primary me-3" href="/users/sign_up" role="button">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" href="/users/sign_in" role="button">Login</a>
          </li>
         </ul>

      <% end %>

   </div>
 </div>
  <nav class="menu" data-target="navbar.nav">
    <%= link_to "See All Beaches", beaches_path, class:"mb-3 nav-link" %>
    <%= link_to "See my Beaches", my_beaches_path, class:"mb-3 nav-link" %>
    <%= link_to "See my Bookings", my_bookings_path, class:"mb-3 nav-link" %>
    <%= link_to "Add a Beach", new_beach_path, class:"mb-3 nav-link" %>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class:"nav-link" %>
  </nav>
</div>
