<div class="container">

  <div class="btn-index mt-4 mb-4">
    <%= link_to "See my beaches", beaches_path, class: "btn btn-primary ms-3 me-3" %>
    <%= link_to "See my bookings", my_bookings_path, class: "btn btn-primary ms-3 me-3" %>
    <%= link_to "Add a new ", new_beach_path, class: "btn btn-primary ms-3 me-3" %>
  </div>

  <h1>Many beaches are waiting for you</h1>

  <div class="container-beaches">
    <% @beaches.each do |beach| %>

    <div class="beach-card">
      <img src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80" alt="beach plage">
      <div class="beach-card-body">
        <%= link_to beach.name, beach_path(beach.id), class: "beach-card-title" %>
        <div class="beach-card-location">
          <%= beach.location %>
        </div>
      </div>
    </div>

    <% end %>


  </div>


</div>
