 	<div class="container-form5">
<section>
		<div class="container-form4">
      <h5>Add your beach</h5>
  <%= simple_form_for(@beach) do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.submit class: 'btn btn-default' %>
  <% end %>
     </div>
	 </div>
</section>
 </div>
