<div class="container mt-5">

  <div class="title-beach mt-5">
    <h1><%=@beach.name %></h1>
    <p><%= @beach.location %></p>
  </div>

  <div class="container-beach mt-5">

    <div class="card-beach-left" style="background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80)">
    </div>

    <div class= "card-beach-right">
      <div>
        <% 5.times do |i| %>
          <% if i < @beach.average_rating.floor %>
            <i class="fas fa-star"></i>
          <% else %>
            <i class="far fa-star"></i>
          <% end %>
        <% end %>

      </div>
      <h3>Description :</h3>
      <p> <%= @beach.description %></p>
      <div class="card-beach-bottom">
        <p> <%= sprintf('%.2f', @beach.price)+"€ /day" %></p>
        <% if @beach.user != current_user %>
          <%= link_to "Reserve this Beach", new_beach_booking_path(@beach), class:"btn-reserve"%>
        <% else %>
          <%= link_to "Delete the beach", beach_path(@beach), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <%end %>
      </div>
    </div>
  </div>

  <div class="container-reviews mt-5">

     <% @reviews.each do |review| %>
      <div class="container-review">
        <div class="user-review">
          <p><%= review.booking.user.user_name %> :</p>
          <i class="fas fa-star"></i><%= sprintf('%.1f', review.rating) %>
        </div>
        <div class="comment-review">
          <p><%= review.comment %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>
